.green {color: green; }
.red{ color: red;}
.green {color: green; }
.alignright { text-align: right; }
.alignleft { text-align: left; }
.aligncenter { text-align: center; }
.display-none {display:none;}
.ocitanje { width: 100px;}
.gray { color: #cccccc;}